default:
    suites:
        default:
            contexts:
                - FeatureContext :
                    entityManager: "@doctrine.orm.default_entity_manager"
                - ApiContextAuth

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
        Imbo\BehatApiExtension:
            apiClient:
                base_uri: http://127.0.0.1:8000
